<!DOCTYPE html>
<html>
<head>
    <title>Raşit Can Fulfillment</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .btn-primary {
            color: #fff;
            background-color: yellowgreen;
            border-color:transparent !important;
        }
        .home-button {
            background-color: #004225 !important;
            color:yellowgreen;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 9999; /* Adding a high z-index ensures the button is always on top */
            margin:0px 20px 20px;
        }
        body {
            padding-top: 70px;
            padding-left: 10px;
            padding-right: 10px;

        }
    </style>
</head>
<body>
    <a href="/" class="btn btn-primary home-button fas fa-house-damage fa-2x"></a>
    {{{body}}}
</body>
</html>
