<!DOCTYPE html>
<html>
<head>
    <title>Upload Listings</title>
</head>
<body>
    <h1>Upload Listings</h1>
    <form action="/uploadListings" method="post">
        <input type="submit" value="Start Upload">
    </form>
</body>
</html>